<form method="post" action="/test2" enctype="multipart/form-data">
    <input type="text" name="email"/>
    <br/>
    <input type="text" name="password"/>
    <br/>
    <input type="file" name="thumbnail"/>
    <br/>
    <button type="submit">Login</button>
</form>